<strong>Recuperando senha</strong>

<p>Uma solicitacao de recuperacao se senha foi realizada para o e-mail ({{ email }}). Se voce nao foi o autor dessa requisicao, seria legal trocar sua senha para garantir</p>

<p>Para continuar com a recuperacao de senha, utilize o token {{ token }} ou clique no link abaixo:</p>

<a href="{{ link }}">Criar nova senha</a>
